*{

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    padding:0;
}

.first_container{
    height: 500px;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-left: 150px;
    padding-right: 150px;
    
    
}

.nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;

    

}

.nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    
    
}



.header_content{
    display:flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 60px;
}

.header_content_left{
    height: 250px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 40px;
    margin:0;   
}

.header_content_left>*{
    padding: 0;
    margin:0;
}

#header_left_title{
    font-size: 48px;
    font-weight: 1000;
}

.header_content_right img{
    height: 250px;
    width: auto;
}

.nav_links a{
    text-decoration: none;
    color:#F9FAF8;
    font-size: 18px;
    padding: 10px;
}

a:hover{
    color:#636e7c;
}
button{
    background-color: #6293e1;
    color:#F9FAF8;
    border: none;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 12px;
    width: 25%;
    height: 30px;
    border-radius: 8px;
}

button:hover{
    background-color: #3c76d4;
}

.second_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second_content_header{
    padding: 30px;
    font-size: 24px;
    font-weight: 1000;
}
.second_content_boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box{
    margin:0;
    padding:0;
    width: 150px;
    height: 100px;
    border: 3px solid #3c76d4;
    border-radius: 10%;
    display: flex;
    justify-content: center;  
    align-items: center;  
}

.box_info{
    width: 150px;
    margin: 20px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.info{  
    text-align: center;
    padding: 10px;;
}

.third_container{
    display: flex;
    justify-content: center;
    background-color: #888c91;
    
}

.sub_third_container{
    padding: 100px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.third_content{
    font-size: 32   px;
    display: flex;
    justify-content: flex-start;
    font-style: italic;
}

.third_sign{
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
}
.fourth_container_box{
    margin:200px;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: row;
    background-color: #6293e1;
    color: #F9FAF8;
    justify-content: space-between;
    border-radius: 5px;
}

.fourth_container_box_right{
    border: 2px solid #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}


.fourth_container_box_left_title{
    font-weight: 800;
    font-size: 18px;
}

.footer{
    background-color: #232629;
    color:#F9FAF8;
    font-size: small;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box img{

    width: 150px;
}